@import "tailwindcss";

.SideBar{
  margin-left: -125px !important;
}

.SideBar:hover{
  margin-left: -3px !important;
}

@media(max-width:650px){
.SideBar:hover{
  margin-left: -125px !important;
}}

.shopping::after {
  content: "Shopping Cart";
  position: absolute;
  font-size: 10px;
  background-color: #eeeeeed1;
  color: #063447;
  padding: 3px !important;
  border-radius: 5px;
  border: #063447 1px solid;
  outline: #eeeeeed1 1px solid;
  left: -30px;
  top: -21px;
  width: 80px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  opacity: 0%;
  transition: 0.5s;
}

.shopping:hover::after {
  opacity: 100%;
}

@media (max-width: 800px) {
  .shopping {
    opacity: 0%;
    position: absolute;
    left: 10px;
    top: -100px;
  }
}

.home::after {
  content: "Home";
  position: absolute;
  font-size: 10px;
  background-color: #eeeeeed1;
  color: #063447;
  padding: 3px !important;
  border-radius: 5px;
  border: #063447 1px solid;
  outline: #eeeeeed1 1px solid;
  left: -9px;
  top: -22px;
  width: 40px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  opacity: 0%;
  transition: 0.5s;
}

.home:hover::after {
  opacity: 100%;
}

@media (max-width: 800px) {
  .home {
    opacity: 0%;
    position: absolute;
    left: 10px;
    top: -100px;
  }
}

.heart::after {
  content: "Favorite";
  position: absolute;
  font-size: 10px;
  background-color: #eeeeeed1;
  color: #063447;
  padding: 3px !important;
  border-radius: 5px;
  border: #063447 1px solid;
  outline: #eeeeeed1 1px solid;
  left: -12px;
  top: -23px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  opacity: 0%;
  transition: 0.5s;
}

.heart:hover::after {
  opacity: 100%;
}

@media (max-width: 800px) {
  .heart {
    opacity: 0%;
    position: absolute;
    left: 10px;
    top: -100px;
  }
}

.log-in::after {
  content: "Log In";
  position: absolute;
  background-color: #eeeeeed1;
  color: #063447;
  padding: 3px !important;
  font-size: 10px;
  border-radius: 5px;
  border: #063447 1px solid;
  outline: #eeeeeed1 1px solid;
  left: -10px;
  top: -23px;
  width: 40px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  opacity: 0%;
  transition: 0.5s;
}

.log-in:hover::after {
  opacity: 100%;
}

@media (max-width: 800px) {
  .log-in {
    opacity: 0%;
    position: absolute;
    left: 10px;
    top: -100px;
  }
}

.log-out::after {
  content: "Log out";
  position: absolute;
  background-color: #eeeeeed1;
  color: #063447;
  padding: 3px !important;
  font-size: 10px;
  border-radius: 5px;
  border: #063447 1px solid;
  outline: #eeeeeed1 1px solid;
  left: -16px;
  top: -23px;
  width: 47px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  opacity: 0%;
  transition: 0.5s;
}

.log-out:hover::after {
  opacity: 100%;
}

@media (max-width: 800px) {
  .log-out {
    opacity: 0%;
    position: absolute;
    left: 10px;
    top: -100px;
  }
}

@media (max-width: 800px) {
  .option {
    opacity: 100%;
    position: relative;
    cursor: pointer;
  }

  .choices:hover .list-option {
    z-index: 52;
    opacity: 100%;
    font-size: 13px;
    top: 40px;
    right: 5px;
  }
}

@media(max-width:780px){
  .displayPeoducts{
    font-size: 13px;
  }
  .homePageProductsImg{
    max-width: 180px;
    max-height: 180px;
  }
}

*::-webkit-scrollbar {
  background-color: #ffffff;
  border-radius:5px;
  width: 7px;
  height: 7px;
}

*::-webkit-scrollbar-thumb {
  background-color: #063447;
  border-radius: 5px;
  border: solid 2px #ffffff;
}

@media(max-width:1100px){
  .favorites-pearant{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap:15px;
  }
}

@media(max-width:1040px){
  .favorites-pearant{
    display: grid;
    grid-template-columns: auto auto auto;
    gap:15px;
  }
}

@media(max-width:770px){
  .favorites-pearant{
    display: grid;
    grid-template-columns: auto auto;
    gap:15px;
  }
}

@media(max-width:520px){
  .favorites-pearant{
    display: grid;
    grid-template-columns: auto;
    gap:15px;
  }
}

@media(max-width:650px){
  .ShoppingCartCardParant{
    grid-template-columns: auto auto;
    
  }
}

@media(max-width:550px){
  .ShoppingCartCardParant{
    grid-template-columns: auto;
    
  }
}

@media(max-width:650px){
  .ShoppingCartCard{
    display: grid;  
    
  }
}

@media(max-width:650px){
  .shoppingCartImg{
    width:100%
  }
}
@media(max-width:550px){
  .shoppingCartImg{
    width: fit-content;
    margin: auto;
  }
}

@media(max-width:650px){
  .ShoppingCartCardDescription{
    width:100%    
  }
}

input:focus-visible{
outline: none;
}
select:focus-visible{
outline: none;
}
.countOption::before{
  content: "Count";
  position: absolute;
  color:#eeeeeed1;
  font-size: 12px;
  top:-17px;
  left: 0px;
}

@media(max-width:1000px){
.shoppingCart{
display:grid
}
}

@media(max-width:650px){
.phones-list{grid-template-columns: 100%; gap:30px}
.storg-ram{grid-template-columns: auto; gap:40px}}

@media(max-width:985px){
  .filters-pareant{
    grid-template-columns: auto auto auto ;
  }
}

@media(max-width:730px){
  .filters-pareant{
    grid-template-columns:  auto auto ;
  }
}

@media(max-width:500px){
  .filters-pareant{
    grid-template-columns: auto ;
  }
}

@media(max-width:985px){
  .filter-card {
    display: grid;
  }
}

.more-details{
  position: relative;
}

.more-details::before{
  content: "More Details";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color:transparent;
  font-weight: 500;
  text-align: center;
  font-size: 0px;
  width: 0%;
  height: 0%;
  left: 50%;
  top:50%;
  transition: 0.3s;
  text-decoration: underline;
}

.more-details:hover::before{
  font-size: 18px;
  left: 0%;
  top:0%;
  width:100%;
  height:100%;
  color:#eeeeeed1;
  background-color: #0000004d;

}

@media(max-width:700px){
  .moreDetailsCard{
    display: grid;
  }
}

.empty-image{
  margin-right: -280px ;
}


@media(max-width:985px){
.empty-image{
  margin-right: 0px;
}
}


@media(min-width:650px){
.descriptionSideBarOptionsi{
display: none;
}}


@media(max-width:400px){
  .searchCards{
    display: grid;
    justify-items: center;
    text-align: center;
  }
}

@media(max-width:520px){
  .footer{
    display: grid;
    gap:10px;
  }
}

.heart:hover + .favoritesCounter{
  top:8px;
}

@media(max-width:800px){
  .favoritesCounter{display: none;
  }
}

.shopping:hover + .shoppingCartCounter {
    top:8px;
}

@media(max-width:800px){
  .shoppingCartCounter {display: none;
  }
}


.profileImage:hover + .profile{
   opacity: 100%;
 }

 @media(min-width:650px){
  .profile{
    display:none
  }
}

@keyframes moveLogInIcon {
  25% {
     transform: translateX(-10px);
    }
  50% {
     transform: translateX(0px);
    }
  75% {
     transform: translateX(-10px);
    }
  100% {
     transform: translateX(0px);
    }

}

.logInFirst{
  animation-name: moveLogInIcon;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.profileIcon:hover + .logInFirstParent{
  opacity: 100%;
}

@media(min-width:650px){
  .logInFirstParent{
    display:none
  }
}

@media(max-width:1001px){
  .chekout{
    display: grid;
  }
  .productDescription{
    max-width: none;
  }
}
 
.chekout input::placeholder{
  color:#063447;
}

@media(max-width:500px){
  .locationInfo{
    display: grid;
    gap:20px;
   }
  .locationInfoPareant{
    gap:20px;
  }
}

input[type="radio"] {
    accent-color: #063447
  }

@media(max-width:550px){
  .exclamation{
    width: 23px;
    height: 23px;
  }
}

.cardInfo input::placeholder{
  color:#eeeeeed1
}

input[type=number] {
  -moz-appearance: textfield;  
  appearance: textfield;       
}

 input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

 input[type=number]:focus::-webkit-outer-spin-button,
input[type=number]:focus::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media(max-width:470px){
  .AddCridetCardInputs{
    display:grid;
    gap:40px
  }
}

.warning-text{
  display:-webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}