@import "tailwindcss";

.SideBar{
  margin-left: -125px !important;
}

.SideBar:hover{
  margin-left: -3px !important;
}

@media(max-width:650px){
.SideBar:hover{
  margin-left: -125px !important;
}}

.shopping::after {
  content: "Shopping Cart";
  position: absolute;
  font-size: 10px;
  background-color: #eeeeeed1;
  color: #063447;
  padding: 3px !important;
  border-radius: 5px;
  border: #063447 1px solid;
  outline: #eeeeeed1 1px solid;
  left: -30px;
  top: -23px;
  width: 80px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  opacity: 0%;
  transition: 0.5s;
}

.shopping:hover::after {
  opacity: 100%;
}

@media (max-width: 800px) {
  .shopping {
    opacity: 0%;
    position: absolute;
    left: 10px;
    top: -100px;
  }
}

.home::after {
  content: "Home";
  position: absolute;
  font-size: 10px;
  background-color: #eeeeeed1;
  color: #063447;
  padding: 3px !important;
  border-radius: 5px;
  border: #063447 1px solid;
  outline: #eeeeeed1 1px solid;
  left: -5px;
  top: -23px;
  width: 40px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  opacity: 0%;
  transition: 0.5s;
}

.home:hover::after {
  opacity: 100%;
}

@media (max-width: 800px) {
  .home {
    opacity: 0%;
    position: absolute;
    left: 10px;
    top: -100px;
  }
}

.heart::after {
  content: "Favorite";
  position: absolute;
  font-size: 10px;
  background-color: #eeeeeed1;
  color: #063447;
  padding: 3px !important;
  border-radius: 5px;
  border: #063447 1px solid;
  outline: #eeeeeed1 1px solid;
  left: -10px;
  top: -23px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  opacity: 0%;
  transition: 0.5s;
}

.heart:hover::after {
  opacity: 100%;
}

@media (max-width: 800px) {
  .heart {
    opacity: 0%;
    position: absolute;
    left: 10px;
    top: -100px;
  }
}

.log-in::after {
  content: "Log In";
  position: absolute;
  font-size: 10px;
  background-color: #eeeeeed1;
  color: #063447;
  padding: 3px !important;
  border-radius: 5px;
  border: #063447 1px solid;
  outline: #eeeeeed1 1px solid;
  left: -5px;
  top: -23px;
  width: 40px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  opacity: 0%;
  transition: 0.5s;
}

.log-in:hover::after {
  opacity: 100%;
}

@media (max-width: 800px) {
  .log-in {
    opacity: 0%;
    position: absolute;
    left: 10px;
    top: -100px;
  }
}

@media (max-width: 800px) {
  .option {
    opacity: 100%;
    position: relative;
    cursor: pointer;
  }

  .choices:hover .list-option {
    opacity: 100%;
    font-size: 13px;
    top: 55px;
    right: 5px;
  }
}

*::-webkit-scrollbar {
  background-color: #ffffff;
  border-radius:5px;
  width: 7px;
  height: 7px;
}

*::-webkit-scrollbar-thumb {
  background-color: #063447;
  border-radius: 5px;
  border: solid 2px #ffffff;
}

input:focus-visible{
outline: none;
}
select:focus-visible{
outline: none;
}
.countOption::before{
  content: "Count";
  position: absolute;
  color:#eeeeeed1;
  font-size: 12px;
  top:-17px;
  left: 0px;
}

@media(max-width:1000px){
.shoppingCart{
display:grid
}
}

@media(max-width:650px){
.phones-list{grid-template-columns: 100%; gap:30px}
.storg-ram{grid-template-columns: auto; gap:40px}}

@media(max-width:985px){
  .filters-pareant{
    grid-template-columns: auto auto auto ;
  }
}

@media(max-width:730px){
  .filters-pareant{
    grid-template-columns:  auto auto ;
  }
}

@media(max-width:500px){
  .filters-pareant{
    grid-template-columns: auto ;
  }
}

@media(max-width:985px){
  .filter-card {
    display: grid;
  }
}

.more-details{
  position: relative;
}

.more-details::before{
  content: "More Details";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color:transparent;
  font-weight: 500;
  text-align: center;
  font-size: 18px;
  width: 0%;
  height: 100%;
  transition: 0.3s;
  text-decoration: underline;
}

.more-details:hover::before{
  width:100%;
  color:yellow;
  background-color: #0000004d;

}

@media(max-width:700px){
  .moreDetailsCard{
    display: grid;
  }
}

.empty-image{
  margin-right: -280px ;
}


@media(max-width:985px){
.empty-image{
  margin-right: 0px;
}
}
